.navbar{
    background-color: #Fbb0e1;
}

.jumbotron{
    padding: 2rem 1rem;
    background-color: #fdaacb;
}

#projects{
    background-color: #fdaacb;
}

.footer{
    background-color: #fdaacb;
}
